# Server config file.
.htaccess

# Backend credentials 
php/config.php

# ~ /assets DIR avoid local content being pushed.
# Ignore .png files contained by ANY folder.
assets/**/*.png
# Ignore .jpg files contained by ANY folder.
assets/**/*.jpg
# Ignore content of any subfolder.
assets/*/**
# EXCEPT .svg & .tff files.
!assets/*/*.svg
!assets/*/*.ttf
# Ignore /node_modules
/node_modules
# CSS Map.
*css.map