@font-face {
    font-family: 'Work Sans Light';
    src: url('./../assets/fonts/WorkSans-Light.ttf');
}
@font-face {
    font-family: 'Work Sans Regular';
    src: url('./../assets/fonts/WorkSans-Regular.ttf');
}
@font-face {
    font-family: 'Work Sans Medium';
    src: url('./../assets/fonts/WorkSans-Medium.ttf');
}
@font-face {
    font-family: 'Work Sans SemiBold';
    src: url('./../assets/fonts/WorkSans-SemiBold.ttf');
}
@font-face {
    font-family: 'Work Sans Bold';
    src: url('./../assets/fonts/WorkSans-Bold.ttf');
}
@font-face {
    font-family: 'Work Sans Black';
    src: url('./../assets/fonts/WorkSans-Black.ttf');
}
@font-face {
    font-family: 'Work Sans SemiBold Italic';
    src: url('./../assets/fonts/WorkSans-SemiBoldItalic.ttf');
}
@font-face {
    font-family: 'Work Sans Black Italic';
    src: url('./../assets/fonts/WorkSans-BlackItalic.ttf');
}

/** ROBOTO CONDENSED TYPOS **/
/** ROBOTO CONDENSED TYPOS **/
/** ROBOTO CONDENSED TYPOS **/

@font-face {
    font-family: 'Roboto Condensed Regular';
    src: url('./../assets/fonts/RobotoCondensed-Regular.ttf');
}
@font-face {
    font-family: 'Roboto Condensed Bold';
    src: url('./../assets/fonts/RobotoCondensed-Bold.ttf');
}
@font-face {
    font-family: 'Roboto Condensed Light';
    src: url('./../assets/fonts/RobotoCondensed-Light.ttf');
}
@font-face {
    font-family: 'Roboto Condensed Italic';
    src: url('./../assets/fonts/RobotoCondensed-Italic.ttf');
}

// ROBOTO MONO TYPOGRAPHY //
// ROBOTO MONO TYPOGRAPHY //
// ROBOTO MONO TYPOGRAPHY //
@font-face {
    font-family: 'Roboto Mono Var';
    src: url('./../assets/fonts/RobotoMono-VariableFont_wght.ttf');
}

//@import url('https:/fonts.googleapis.com/../assets/2?family=Roboto+Condensed:wght@300;400;700&family=Work+Sans:ital,wght@0,500;0,700;0,900;1,400&display=swap');