.selection {
    position: relative;

    width: 180px;
    height: 40px;

    font-family: 'Roboto Condensed Regular';
    font-size: 18px;

    letter-spacing: 0.05em;
    text-transform: uppercase;
    
    color: $fappu-purple;

    .main-bar {
        position: relative;
        z-index: 4;

        display: flex;
        align-items: center;
        height: 100%;

        padding: 0 15px 0 20px;
        border: solid $fappu-purple 0.75px;
        border-radius: 100px;

        background-color: $classic-w;

        cursor: pointer;

        .label {
            flex: 1 1 auto;
            
            font-family: inherit;

            letter-spacing: inherit;
            text-overflow: clip;
            
            white-space: nowrap;
            overflow: hidden;
            
            color: inherit;

            &::selection {
                background-color: transparent;
            }
        }

        svg {
            fill: $fappu-purple;
            
        }
    }

    .options-wrapper {
        @include fix-box;

        display: none;
        width: 100%;
        min-height: 40px;
        max-height: 156px;
        
        border: 1px solid $fappu-purple;
        border-radius: 25px 25px 22px 22px;
        
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
        
        overflow: hidden;
        background-color: $bone;        
    }

    .options-list {
        position: relative;
        top: 40px;

        .option {
            margin-bottom: 1px;
            padding: 10px 0;

            text-align: center;

            background-color: $classic-w;
            
            box-shadow: 0 1px 0 $outlines-gray;
            
            cursor: pointer;

            &:nth-last-child(1) {
                box-shadow: 0;
            }

            &::selection {
                background-color: transparent;
            }

            &:hover {
                background-color: $bone;
            }

        }

        .option--active {
            background-color: $bone;
        }
    }

    
}


.selection--options-active {
    .options-wrapper {
        display: block;
    }
}

.selection--options-loading {
    .options-wrapper {
        display: block;
        visibility: none;
    }
}