.reclaim-row {
    display: grid;
    grid-template-columns: 12px .625fr .25fr .25fr;
    gap: 10px;
    // grid-template-rows: 1;
    flex: 0 0 auto;
    height: 50px;
    padding: 0 10px;

    background-color: $classic-w;

    cursor: pointer;

    &:hover {
        background-color: $bone;
    }

    .reclaim__status {
        width: 12px;
        height: 12px;
        margin-top: auto;
        margin-bottom: auto;
        border-radius: 20px;

        background-color: $deactivated-gray;
    }

    .reclaim__email-wrapper {
        display: flex;
        align-items: center;

        .reclaim__email {
            flex: 1 1 auto;
            font-family: 'Roboto Mono Var';
            font-size: 16px;
            font-weight: 300;

            letter-spacing: 0.025em;
            text-align: left;

            color: $classic-k;
        }

        .overlay {
            width: 30px;
            background-color: linear-gradient(0deg, rgba($classic-w, 1) 100%, rgba($classic-w, 0.1) 10%);
        }
    }

    .reclaim__date {
        margin-top: auto;
        margin-bottom: auto;
        font-family: 'Roboto Condensed Light';
        font-size: 16px;
        
        letter-spacing: 0.05em;
        text-align: right;

        color: $deactivated-gray;
    }

}

.reclaim-row.not-solved {
    .reclaim__status { background-color: $oh-no; }
}
.reclaim-row.solved {
    .reclaim__status { background-color: $yay; }
}